@import "Menu.css";
html,
body {
  padding: 0;
  margin: 0;
  background:#f9fafb;
  scroll-behavior: smooth;
  font-family: "Yekan Bakh", sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Yekan Bakh", sans-serif;
}

.page-content{
  margin:65px 0 0 0 !important;
}

.container{
  width:80%;
  margin:0 auto;
}
.p-menubar-root-list{
  margin-right:auto !important;
}
.p-menubar-end{
  margin-left: 0 !important;
}

.p-menubar{
  border-radius:0 !important;
}

.p-sidebar-mask{
  direction:ltr !important;
}

.p-panelmenu .p-panelmenu-header-link {
  justify-content: flex-end;
}

.pi-chevron-right:before {
  content: "\e900"!important;
}

.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
  margin-right: auto!important;
}

.p-panelmenu .p-menuitem-link {
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
    display: flex;
    margin-right: auto;
  }
}
